body{
    font-family: 'Merriweather', serif;
    padding: 5px;
    background-image: url("../images/traintracks.jpg");
}


.container{
    margin-bottom: 10px;
}

.form-group{
    padding: 12px;
}

#train-table {
    background-color: rgba(255, 255, 255, 0.750);
}

th,td {
    display: inline-block;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.750);
}
tr{
    background-color: rgba(255, 255, 255, 0);
}

tbody{
    background-color: rgba(255, 255, 255, 0);
}



.card-header{
    background-color: rgba(45, 126, 233, 0.75);
}

.card{
    background-color: rgba(255, 255, 255, 0.75)
}
